<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <div th:replace="fragments/headerDashboard :: header-css"/>
</head>
<body class="nav-md">
<div class="container body">
    <div class="main_container">

        <div th:replace="fragments/sideBarMenu :: sideBarMenu"/>
        <!-- page content -->
        <div class="right_col" role="main">
            <br/>
            <div class="container">
            </div>
            <div class="row">
                <form th:action="@{/exportarCensosAExcel}" method="post">
                    <div class="col-md-12 text-center">
                        <button type="submit" style="float: right; margin-left: .2%;width: 100%" id="exportarExcel"
                                class="btn btn-primary colorButton button-preRegistro-login">Exportar a Excel
                        </button>
                    </div>
                </form>
                <div class="col-md-12 col-sm-12 ">
                    <table id="example" class="table table-striped jambo_table bulk_action "
                           style="width:100%;">

                        <thead>
                        <tr class='headings' data-href='detalles1'>
                            <th>Nombres</th>
                            <th>Apellidos</th>
                            <th>Cedula</th>
                            <th>Profesión</th>
                            <th>Sexo</th>
                            <th>Edad</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="censoDigitalEntityList: ${censoDigitalEntityList}">
                            <td th:text="${censoDigitalEntityList.nombrePersona}"></td>
                            <td th:text="${censoDigitalEntityList.apellidoPersona}"></td>
                            <td th:text="${censoDigitalEntityList.cedula}"></td>
                            <td th:text="${censoDigitalEntityList.profesionOficio}"></td>
                            <td th:text="${censoDigitalEntityList.sexoEntity.sexo}"></td>
                            <td th:text="${censoDigitalEntityList.edad}"></td>

                        </tr>

                        </tbody>
                    </table>

                </div>
            </div>

        </div>
    </div>
    <!-- /page content -->

</div>
</div>
<!-- footer content -->
<div th:replace="fragments/footerDashboard :: footer"/>
<script>
    $(document).ready( function () {
        $('#example').DataTable();
    } );
</script>

<!-- /footer content -->
</body>
</html>