<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <title>Censo Digital</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" th:href="@{/img/favicon.ico}" href="../../img/favicon.ico"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/bootstrap.min.css}"
          href="../../bootstrap/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}" href="../../css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/material-design-iconic-font.min.css}"
          href="../../css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/animate.css}" href="../../css/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/hamburgers.min.css}" href="../../css/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/animsition.min.css}" href="../../css/animsition.min.css">
    <!--============================================== =================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/select2.min.css}" href="../../css/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/daterangepicker.css}" href="../../css/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/util.css}" href="../../css/util.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" href="../../css/main.css">
    <!--===============================================================================================-->
</head>
<body>

<div class="limiter">
    <div class="container-login100"
         th:style="'background: url(/img/bg-01.jpg) no-repeat center center fixed;background-size: cover;'">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
            <form class="login100-form validate-form" method="post" th:object="${email}"  th:action="@{/guardarNuevaContraseña}" >
					<span class="login100-form-title p-b-49">
						Recuperar Contraseña
					</span>
                <div class="wrap-input100 validate-input m-b-23" required="true">
                    <span class="label-input100">Correo</span>
                    <input class="input100" type="text" readonly="true" name="email" th:field="*{email}">
                    <span class="focus-input100" data-symbol="&#xf206;"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-23" required="true">
                    <span class="label-input100">Nueva Contraseña</span>
                    <input class="input100" type="text" name="password" placeholder="Escriba su nueva contraseña">
                    <span class="focus-input100" data-symbol="&#xf206;"></span>
                </div>
                <div class="text-right p-t-8 p-b-31">
                </div>

                <div class="container-login100-form-btn" style="
    float: right;
    width: 40%;">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn" style="text-align: center;  text-transform: none">
                            Guardar
                        </button>
                    </div>
                </div>

                <div class="container-login100-form-btn" style="
    float: left;
    width: 40%;">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <a th:href="@{/login}"  class="login100-form-btn" style="text-align: center;  text-transform: none">
                            Cancelar
                        </a>
                    </div>
                </div>


            </form>
        </div>
    </div>
</div>

<!-- modal email no exist-->
<div class="modal fade" th:if="${modalEmailExits!=null}" style="margin-top: 50px" id="modalEmailExits">
    <div class="modal-dialog modal-center">
        <!-- Modal content-->
        <div class="modal-content radiusModal">
            <div class="modal-header text-center" style="display: inline">
                <h3 class="modal-title headerCenterWithImageModal"
                    th:utext="#{mensaje.header.estimado.usuario}"/>
            </div>
            <div class="modal-body x_content">
                <div style="display: inline">
                    <div class="col-sm-1"></div>
                    <p  style="text-align: center" th:utext="#{mensaje.modal.email.not.exist}"/>
                    <div class="col-sm-1"></div>
                </div>
            </div>
            <div class="text-center" style="height: 5pc">
                <button type="button" class="btn btn-primary " style="width: 40%" data-dismiss="modal">Cerrar</button>
            </div>
            </p>
            </p>
        </div>
    </div>
</div>
<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
<script th:src="@{/js/jquery-3.2.1.min.js}" src="../../js/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script th:src="@{/js/animsition.min.js}" src="../../js/animsition.min.js"></script>
<!--===============================================================================================-->
<script th:src="@{/js/popper.js}" src="../../js/popper.js"></script>
<script th:src="@{/js/bootstrap.min.j}" src="../../js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script th:src="@{/js/select2.min.js}" src="../../js/select2.min.js"></script>
<!--===============================================================================================-->
<script th:src="@{/js/moment.min.js}" src="../../js/moment.min.js"></script>
<script th:src="@{/js/daterangepicker.js}" src="../../js/daterangepicker.js"></script>
<!--===============================================================================================-->
<script th:src="@{/js/countdowntime.js}" src="../../js/countdowntime.js"></script>
<!--===============================================================================================-->
<script th:src="@{/js/main.js}" src="../../js/main.js"></script>
<script>
    $(document).ready(function () {

        if ($("#modalEmailExits").val() != undefined){
            $.map(modalEmailExits, function (val) {
                if (val != null) {
                    $("#modalEmailExits").modal("show");
                }
            })};
    });
</script>
</body>
</html>