<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <div th:replace="fragments/headerDashboard :: header-css"/>
</head>
<body class="nav-md">
<div class="container body">
    <div class="main_container">

        <div th:replace="fragments/sideBarMenu :: sideBarMenu"/>
        <!-- page content -->
        <div class="right_col" role="main">
            <br/>
            <div class="col-md-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Servicios
                            <small></small>
                        </h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br/>
                        <form class="form-label-left input_mask" data-parsley-validate="true"
                              th:action="@{/guardarCenso}" th:object="${censoDigitalEntity}" method="post">


                            <div class="col-md-6 col-sm-6  form-group has-feedback">
                                <select class="form-control" id="aguasBlancasEntity"
                                        th:object="${tipoAguasBlancasEntityList}"
                                        th:name="aguasBlancasEntity"
                                        required="true" style="width: 100%; float: left; text-align-last:center">
                                    <option value="">Tipo aguas blancas</option>
                                    <option th:each="tipoAguasBlancasEntityList : ${tipoAguasBlancasEntityList}"
                                            th:text=" ${tipoAguasBlancasEntityList.descripcion}"
                                            th:value="${tipoAguasBlancasEntityList.idTipoAguasBlancas}">
                                    </option>
                                </select>
                            </div>

                            <div class="col-md-6 col-sm-6  form-group has-feedback">
                                <select class="form-control" id="aguasServidasEntity"
                                        th:object="${tipoAguasServidasEntityList}"
                                        th:name="aguasServidasEntity"
                                        required="true" style="width: 100%; float: left; text-align-last:center">
                                    <option value="">Tipo aguas servidas</option>
                                    <option th:each="tipoAguasServidasEntityList : ${tipoAguasServidasEntityList}"
                                            th:text=" ${tipoAguasServidasEntityList.descripcion}"
                                            th:value="${tipoAguasServidasEntityList.idTipoAguasServidas}">
                                    </option>
                                </select>
                            </div>

                            <div class="col-md-6 col-sm-6  form-group has-feedback">
                                <select class="form-control" id="gasEntity" th:object="${tipoGasEntityList}"
                                        th:name="gasEntity"
                                        required="true" style="width: 100%; float: left; text-align-last:center">
                                    <option value="">Tipo gas</option>
                                    <option th:each="tipoGasEntityList : ${tipoGasEntityList}"
                                            th:text=" ${tipoGasEntityList.descripcion}"
                                            th:value="${tipoGasEntityList.idTipoGas}">
                                    </option>
                                </select>
                            </div>

                            <div class="col-md-6 col-sm-6  form-group has-feedback">
                                <select class="form-control" id="sistemaElectricoEntity"
                                        th:object="${tipoSistemaElectricoEntityList}"
                                        th:name="sistemaElectricoEntity"
                                        required="true" style="width: 100%; float: left; text-align-last:center">
                                    <option value="">Tipo sistema electrico</option>
                                    <option th:each="tipoSistemaElectricoEntityList : ${tipoSistemaElectricoEntityList}"
                                            th:text=" ${tipoSistemaElectricoEntityList.descripcion}"
                                            th:value="${tipoSistemaElectricoEntityList.idTipoSistemaElectrico}">
                                    </option>
                                </select>
                            </div>

                            <div class="col-md-6 col-sm-6  form-group has-feedback">
                                <select class="form-control" id="recoleccionBasuraEntity"
                                        th:object="${tipoRecoleccionBasuraEntityList}"
                                        th:name="recoleccionBasuraEntity"
                                        required="true" style="width: 100%; float: left; text-align-last:center">
                                    <option value="">Tipo recolección basura</option>
                                    <option th:each="tipoRecoleccionBasuraEntityList : ${tipoRecoleccionBasuraEntityList}"
                                            th:text=" ${tipoRecoleccionBasuraEntityList.descripcion}"
                                            th:value="${tipoRecoleccionBasuraEntityList.idTipoRecoleccionBasura}">
                                    </option>
                                </select>
                            </div>

                            <div class="col-md-6 col-sm-6  form-group has-feedback">
                                <select class="form-control" id="telefoniaEntity" th:object="${telefoniaEntityList}"
                                        th:name="telefoniaEntity"
                                        required="true" style="width: 100%; float: left; text-align-last:center">
                                    <option value="">Telefonía</option>
                                    <option th:each="telefoniaEntityList : ${telefoniaEntityList}"
                                            th:text=" ${telefoniaEntityList.descripcion}"
                                            th:value="${telefoniaEntityList.idTelefonia}">
                                    </option>
                                </select>
                            </div>

                            <div class="col-md-6 col-sm-6  form-group has-feedback">
                                <select class="form-control" id="transporteEntity" th:object="${transporteEntityList}"
                                        th:name="transporteEntity"
                                        required="true" style="width: 100%; float: left; text-align-last:center">
                                    <option value="">Tipo transporte</option>
                                    <option th:each="transporteEntityList : ${transporteEntityList}"
                                            th:text=" ${transporteEntityList.descripcion}"
                                            th:value="${transporteEntityList.idTransporte}">
                                    </option>
                                </select>
                            </div>

                            <div class="col-md-6 col-sm-6  form-group has-feedback">
                                <select class="form-control" id="tipoMecanismoInformacionEntity" th:object="${tipoMecanismoInformacionEntityList}"
                                        th:name="tipoMecanismoInformacionEntity"
                                        required="true" style="width: 100%; float: left; text-align-last:center">
                                    <option value="">Tipo mecanismo información</option>
                                    <option th:each="tipoMecanismoInformacionEntityList : ${tipoMecanismoInformacionEntityList}"
                                            th:text=" ${tipoMecanismoInformacionEntityList.descripcion}"
                                            th:value="${tipoMecanismoInformacionEntityList.idMecanismoInformacion}">
                                    </option>
                                </select>
                            </div>

                            <div class="col-md-6 col-sm-6  form-group has-feedback">
                                <select class="form-control" id="serviciosComunalesEntity" th:object="${serviciosComunalesEntityList}"
                                        th:name="serviciosComunalesEntity"
                                        required="true" style="width: 100%; float: left; text-align-last:center">
                                    <option value="">Servicios comunales</option>
                                    <option th:each="serviciosComunalesEntityList : ${serviciosComunalesEntityList}"
                                            th:text=" ${serviciosComunalesEntityList.descripcion}"
                                            th:value="${serviciosComunalesEntityList.idServiciosComunales}">
                                    </option>
                                </select>
                            </div>

                            <div class="col-md-12">
                                <a type="button" class="btn btn-primary" style="width: 40%;float: left" href="indexPr">
                                    Cancelar</a>
                                <button type="submit" class="btn btn-success" style="width: 40%;float: right">Siguiente
                                </button>
                            </div>
                            <!--</div>-->

                        </form>
                    </div>
                </div>


            </div>

        </div>
    </div>
    <!-- /page content -->

</div>
</div>
<!-- footer content -->
<div th:replace="fragments/footerDashboard :: footer"/>
<!-- /footer content -->
</body>
</html>