<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <div th:replace="fragments/headerDashboard :: header-css"/>
</head>
<body class="nav-md">
<div class="container body">
    <div class="main_container">

        <div th:replace="fragments/sideBarMenu :: sideBarMenu"/>
        <!-- page content -->
        <div class="right_col" role="main">
            <br/>
            <div class="col-md-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Situación de Salud
                            <small></small>
                        </h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br/>
                        <form class="form-label-left input_mask"  data-parsley-validate="true" th:action="@{/situacionServicios}" th:object="${censoDigitalEntity}"  method="post">



                            <div class="col-md-6 col-sm-6  form-group has-feedback">
                                <select class="form-control" id="ayudaFamiliar" th:name="ayudaFamiliar"
                                        required="true" style="width: 100%; float: left; text-align-last:center">
                                    <option value="">Necesidad Ayuda Especial</option>
                                    <option th:value="S">Sí
                                    </option>
                                    <option th:value="N">No
                                    </option>
                                </select>
                            </div>

                            <div class="col-md-6 col-sm-6  form-group has-feedback">
                                <select class="form-control" id="tipoPadecimientoEntity" th:object="${tipoPadecimientoEntityList}"
                                        th:name="tipoPadecimientoEntity"
                                        required="true" style="width: 100%; float: left; text-align-last:center">
                                    <option value="">Tipo Padecimiento</option>
                                    <option th:each="tipoPadecimientoList : ${tipoPadecimientoEntityList}"
                                            th:text=" ${tipoPadecimientoList.descripcion}"
                                            th:value="${tipoPadecimientoList.idTipoPadecimiento}">
                                    </option>
                                </select>
                            </div>


                            <div class="col-md-6 col-sm-6  form-group has-feedback">
                                <select class="form-control" id="situacionExclusionEntity" th:object="${situacionExclusionEntityList}"
                                        th:name="situacionExclusionEntity"
                                        required="true" style="width: 100%; float: left; text-align-last:center">
                                    <option value="">Situacion Exclusión</option>
                                    <option th:each="situacionExclusionEntityList : ${situacionExclusionEntityList}"
                                            th:text=" ${situacionExclusionEntityList.descripcion}"
                                            th:value="${situacionExclusionEntityList.idSituacionExclusion}">
                                    </option>
                                </select>
                            </div>



                            <div class="col-md-12">
                                <a type="button" class="btn btn-primary" style="width: 40%;float: left" href="indexPr">
                                    Cancelar</a>
                                <button type="submit" class="btn btn-success" style="width: 40%;float: right">Siguiente
                                </button>
                            </div>
                            <!--</div>-->

                        </form>
                    </div>
                </div>


            </div>

        </div>
    </div>
    <!-- /page content -->

</div>
</div>
<!-- footer content -->
<div th:replace="fragments/footerDashboard :: footer"/>
<!-- /footer content -->
</body>
</html>