<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
</head>
<div th:fragment="footer-js">
<body>
<script th:src="@{/js/jquery-3.1.1.min.js}" src="../../js/jquery-3.1.1.min.js"></script>
<script th:src="@{/js/popper.min.js}" src="../../js/popper.min.js"></script>
<script th:src="@{/js/jquery-ui.min.js}" src="../../js/jquery-ui.min.js"></script>
<script th:src="@{/js/bootstrap.js}" src="../../js/bootstrap.js"></script>
<!--Parsley.js-->
<script th:src="@{/Parsley.js-2.8.0/dist/parsley.min.js}" src="../../Parsley.js-2.8.0/dist/parsley.min.js"></script>
<script th:src="@{/Parsley.js-2.8.0/dist/i18n/es.js}" src="../../Parsley.js-2.8.0/dist/i18n/es.js"></script>

<script th:src="@{/js/dates.js}" src="../../js/dates.js"> </script>



<script>
    function inputDateAnoActual(idinputFecha) {
        debugger;
        date = new Date();
        var yearBefore = new Date();
        yearBefore.setFullYear(date.getFullYear()-1);
        $("#"+idinputFecha).datepicker({
            dateFormat: "dd/mm/yy",
            yearRange: "-1:+0",
            changeMonth: true,
            changeYear: true,
            minDate: yearBefore,
            maxDate: new Date()
        });
    }
</script>
</body>
</div>
</html>